<ion-header>
  <ion-toolbar>
    <ion-title>Asset Grid View</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exportToExcel()">
        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
        Download Report
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Substation Selection Dropdown -->
      <ion-col size="3">
        <ion-item>
          <ion-label>Site</ion-label>
          <ion-select [(ngModel)]="selectedSubstation" (ionChange)="onSubstationChange()">
            <ion-select-option value="All">All</ion-select-option>
            <ion-select-option *ngFor="let substation of substationData" [value]="substation.siteName">
              {{ substation.siteName }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Main Content Area -->
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Assets Delivered</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Search Bar -->
            <ion-searchbar [(ngModel)]="searchQuery" placeholder="Search Assets"></ion-searchbar>
            <div class="scroll-container">
              <table class="asset-table">
                <thead>
                  <tr>
                    <th>Serial Number</th>
                    <th>Product Name</th>
                    <th>Warranty Start Date</th>
                    <th>Warranty End Date</th>
                    <th>Site Name</th>
                    <th>Client</th>
                    <th>Client Warehouse</th>
                    <th>QA Engineer</th>
                    <th style="text-align: center;">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of filteredDeliveredData | filter:searchQuery">
                    <td>{{ data.serialNumber }}</td>
                    <td>{{ data.productName }}</td>
                    <td>{{ data.warrantyStartDate }}</td>
                    <td>{{ data.warrantyEndDate }}</td>
                    <td>{{ data.siteName }}</td>
                    <td>{{ data.client }}</td>
                    <td>{{ data.clientWarehouse }}</td>
                    <td >{{ data.engineerName }}</td>
                    <td >{{ data.status }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
