<ion-header>
  <ion-toolbar>
    <ion-title>Delivery Return & Goods Issue</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="submitReturn()" class="custom-blue-button" >
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Submit
     </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Substation Selection Dropdown -->
      <ion-col size="4">
        <ion-item>
          <ion-label>Site</ion-label>
          <ion-select [(ngModel)]="selectedSubstation" (ionChange)="selectSubstation($event)">
            <ion-select-option value="">None</ion-select-option> <!-- None option -->
            <ion-select-option *ngFor="let substation of substationData" [value]="substation.siteName">
              {{ substation.siteName }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Main Content Area -->
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Products</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Search Bar -->
            <ion-searchbar [(ngModel)]="searchQuery" placeholder="Search Assets"></ion-searchbar>
            <div class="scroll-container">
              <ion-grid>
                <ion-row>
                  <ion-col size="1.5"><strong>Serial Number</strong></ion-col>
                  <ion-col size="1.5"><strong>Product Name</strong></ion-col>
                  <!-- <ion-col size="1.5"><strong>Warranty Start Date</strong></ion-col> -->
                  <ion-col size="1.8" style="margin-left: 10px;"><strong>Warranty End Date</strong></ion-col>
                  <ion-col size="1.7"><strong>Site Name</strong></ion-col>
                  <ion-col size="2"><strong>Status</strong></ion-col>
                  <ion-col size="1.7"><strong>Action</strong></ion-col>
                </ion-row>
                <ion-row *ngFor="let data of filteredAssets()">
                  <ion-col size="1.6" class="content">{{ data.serialNumber }}</ion-col>
                  <ion-col size="1.6" class="content" >{{ data.productName }}</ion-col>
                  <!-- <ion-col size="1.6">{{ data.warrantyStartDate }}</ion-col> -->
                  <ion-col size="1.6" class="content">{{ data.warrantyEndDate }}</ion-col>
                  <ion-col size="1.6" class="content">{{ data.siteName }}</ion-col>
                  <ion-col size="2" class="content">{{ data.status }}</ion-col>
                  <ion-col size="2.5" class="content" style="text-align: left;">
                    <ion-item>
                      <ion-select [(ngModel)]="data.action" class="action-select" placeholder="Select Action" (ionChange)="onActionChange(data)">
                        <ion-select-option value="null">None</ion-select-option>
                        <ion-select-option value="Sent Back to the OEM">Sent Back to OEM</ion-select-option>
                        <ion-select-option value="Sent Back to the Site">Sent Back to the Site</ion-select-option>
                        <ion-select-option value="Mark as Scrap">Mark as Scrap</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
