.input-group {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
  }
  
  .input-item {
    display: flex;
    flex-direction: column;
    width: calc(25% - 16px);
  }
  
  .input-item ion-label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .input-item ion-select,
  .input-item ion-button {
    border-radius: 10px;
    --background: #f3f3f3;
    // --padding-start: 12px;
    // --padding-end: 12px;
    --padding-top: 3px;
    --padding-bottom: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    height: 36px; /* Adjust the height as needed */
  }
  
  .table-responsive {
    padding: 16px;
    overflow-x: auto;
  }
  
  .forecast-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .forecast-table th,
  .forecast-table td {
    border: 1px solid #ddd;
    padding: 4px 8px;
    text-align: center;
    vertical-align: middle;
  }
  
  
  .forecast-table th {
    background-color: #f2f2f2;
  }
  
  .forecast-table th ion-select,
  .forecast-table td ion-select,
  .forecast-table td ion-input {
    width: 100%;
  }
  .low-hours {
    color: #ec2a47; /* Light red */
  }
  
  .high-hours {
  color: #03fb0b; /* Light green */
  }
  