<ion-header>
  <ion-toolbar>
    <ion-title>Staffing Forecasting</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToStaffingReport()">
        <ion-icon name="document-outline"></ion-icon>
        Staffing Report
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="input-group" style="border: 1px solid black; border-radius: 10px; padding: 16px; gap: 16px;">
    <div class="input-item">
      <ion-label position="stacked">Month</ion-label>
      <ion-select [(ngModel)]="selectedMonth" (ionChange)="updateDateRange()" placeholder="Select Month" class="month-select" style="border: 1px solid black; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background: #F3F3F3;">
        <ion-select-option *ngFor="let month of months">{{ month }}</ion-select-option>
      </ion-select>
    </div>
    <div class="input-item">
      <ion-label position="stacked">Start Date</ion-label>
      <ion-input type="date" [(ngModel)]="startDate" [min]="minDate" [max]="maxDate" (ionChange)="updateWeekNumber()"></ion-input>
    </div>
    <div class="input-item">
      <ion-label position="stacked">End Date</ion-label>
      <ion-input type="date" [(ngModel)]="endDate" [min]="minDate" [max]="maxDate" (ionChange)="updateWeekNumber()"></ion-input>
    </div>
    <div class="input-item">
      <ion-label position="stacked">Week</ion-label>
      <ion-input type="text" [(ngModel)]="selectedWeek" readonly class="week-select"></ion-input>
    </div>
  </div>

  <div class="table-responsive">
    <table class="forecast-table">
      <thead>
        <tr>
          <th>Sr. No</th>
          <th>Team</th>
          <th>Project</th>
          <th>Resource Name</th>
          <th>Date</th>
          <th>Hours</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of entries; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <ion-select [(ngModel)]="entry.team" placeholder="Select Team" class="borderArea">
              <ion-select-option *ngFor="let team of teams">{{ team }}</ion-select-option>
            </ion-select>
          </td>
          <td>
            <select [(ngModel)]="entry.projectName" (click)="updateProjectId(entry)" placeholder="Select Project" class="borderArea">
              <option value="">Select</option>
              <option *ngFor="let project of projects" [value]="project.projectName">
                {{ project.projectName }}
              </option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="entry.resourceName" (click)="updateEmployeeId(entry)" (click)="fetchEmployees()" placeholder="Select Resource Name" class="borderArea">
              <option value="">Select</option>
              <option *ngFor="let resource of allEmployees" [value]="resource.name">
                {{ resource.name }}
              </option>
            </select>
          </td>
          <td>
            <ion-input type="date" [(ngModel)]="entry.date" class="borderArea"></ion-input>
          </td>
          <td>
            <ion-input type="number" [(ngModel)]="entry.hours" (ionInput)="onInput($event)" class="borderArea"></ion-input>
          </td>
          <td class="actions">
            <ion-button fill="clear" (click)="copyRow(i)">
              <ion-icon name="copy-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="removeRow(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <ion-button expand="full" (click)="validateAndSubmit()">Submit</ion-button> -->

</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="button-container">
      <ion-button class="total-hours-button" fill="clear" disabled>
        Total Hours: {{ getTotalHours() }}
      </ion-button>
      <ion-button fill="clear" (click)="validateAndSubmit()"> Submit
        <ion-icon name="save"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="addRow()" title="Add New Row">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>